<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages">
      <ion-avatar class="avatar"><img src="{{message.author.photo}}"></ion-avatar>
      <span class="content">
        <div class="content-header">
          <ion-label class="author">{{message.author.username}}</ion-label>
          <ion-label class="created-at" color="medium">{{message.created_at | date:"yyyy/MM/dd HH:mm"}}</ion-label>
        </div>
        <div class="content-body">
          <p class="text" *ngFor="let text of message.texts">{{text}}</p>
        </div>
      </span>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
    <ion-item>
      <ion-textarea placeholder="Message" (ionChange)="textChange($event)" float-left></ion-textarea>
      <ion-button item-end size="default">送信</ion-button>
    </ion-item>
</ion-footer>

