<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">キャンセル</ion-button>
    </ion-buttons>  
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="full" type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">保存</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <form [formGroup]="profileForm">
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="username" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Photo</ion-label>
        <ion-input type="file" formControlName="photo" (change)="onFileChange($event)">
          <img src="{{user.photo}}" class="photo-img">
        </ion-input>
      </ion-item>
  
  </form>
</ion-content>